/* footer.css */

.footer {
  background: #0f0f0f;
  border-top: 1px solid rgba(255, 255, 255, 0.06);

  margin-top: 5rem;
  padding: 5rem 6% 2rem;
}

/* CONTAINER */

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}

/* BRAND */

.footer-brand {
  max-width: 420px;
}

.footer-brand h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -1px;
}

.footer-brand p {
  color: #9f9f9f;
  line-height: 1.8;
  font-size: 0.96rem;
}

/* LINKS */

.footer-links {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-column span {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.footer-column a {
  text-decoration: none;
  color: #9f9f9f;

  transition: 0.25s ease;
}

.footer-column a:hover {
  color: #ffffff;
  transform: translateX(3px);
}

/* BOTTOM */

.footer-bottom {
  margin-top: 4rem;
  padding-top: 1.5rem;

  border-top: 1px solid rgba(255, 255, 255, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p {
  color: #777777;
  font-size: 0.9rem;
}

/* RESPONSIVE */

@media (max-width: 768px) {

  .footer {
    padding: 4rem 7% 2rem;
  }

  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-links {
    gap: 3rem;
  }

  .footer-brand h2 {
    font-size: 1.7rem;
  }
}